/* styles.css */

/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

/* Estilo del navbar */
.navbar {
    background-color: #007bff;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #ffc107 !important;
}

/* Estilo de los encabezados */
h1 {
    color: #007bff;
    margin-top: 20px;
}

/* Estilo de los párrafos */
p {
    font-size: 1.1em;
}

/* Estilo de las listas */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Estilo del contenedor */
.container {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
